treechildren::-moz-tree-checkbox(checked)
{
    /* css for checked cells */
    list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

option.checkbox-multiselect:before {
    margin-right: 6px;
    content: "\2610";
}

option.checkbox-multiselect[selected]:before {
    content: "\2611";
}

